[submodule "td"]
	path = td
	url = git@github.com:tdlib/td.git
[submodule "libtuntap"]
	path = libtuntap
	url = git@github.com:ivanstepanovftw/libtuntap.git
[submodule "fmt"]
	path = fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "rapidyaml"]
	path = rapidyaml
	url = git@github.com:biojppm/rapidyaml.git